body { background-color: #DDDDDD; font: 30px sans-serif; }
canvas, img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    /* width:640px;
    height:480px; */
}
.hidden {
  display: none;
}

.crosshair {
  background-color: red;
  width: 5px;
  height: 5px;
  display: inline-block;
  position: absolute;
  top: 240px;
  left: 320px;
}